body{
  background:#0b0b18;
  color:white;
  text-align:center;
  font-family:Arial;
}

.hidden{display:none;}

input{
  padding:10px;
  margin:5px;
}

button{
  padding:10px;
  margin:5px;
  background:red;
  color:white;
  border:none;
}

.player{
  background:#222;
  margin:5px;
  padding:5px;
  cursor:pointer;
}